# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# ML Model files
data/models/*.pkl

# Test coverage
.coverage
htmlcov/

# MyPy
.mypy_cache/

# VS Code
.vscode/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/