.env
/DOCS
/FYDP*
backend/test/backend.integration.e2e-spec.ts
backend/src/modules/dashboard/dashboard.service.spec.ts
/LearningDocs_sqdis

# Agent workspace
.agents/

# Ignore all markdown files except README.md
*.md
!README.md
!**/README.md